In [3]:
import numpy as numpy
import pandas as pd
df = pd.read_excel('jobrecord.xlsx')
df.to_csv('jobrecord.csv',index=False)
df.head(3)

,Job Id,Experience,Qualifications,Salary Range,location,Work Type,Job Posting Date,Job Title,Role,Unnamed: 9,Job Description,Unnamed: 11,skills,Unnamed: 13,Company
0,1.296142e+15,4 to 13 Years,MBA,$59K-$115K,City of Port Louis,Temporary,2023-04-10,Front-End Developer,Accessibility Developer,NaN,An Accessibility Developer focuses on making d...,NaN,"Web accessibility standards (e.g., WCAG) Assis...",NaN,Otis Worldwide
1,4.368255e+14,1 to 10 Years,BA,$62K-$94K,Castries,Full-Time,2022-11-27,Sales Representative,Account Executive,NaN,Account Executives manage and grow relationshi...,NaN,Sales strategy and planning Account management...,NaN,Qualcomm
2,1.648324e+15,4 to 12 Years,BCA,$55K-$111K,Muscat,Contract,2023-03-17,Customer Success Manager,Account Manager,NaN,An Account Manager builds and maintains relati...,NaN,Account management Customer relationship manag...,NaN,Huntsman

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Job Id            262 non-null    float64
 1   Experience        263 non-null    object
 2   Qualifications    263 non-null    object
 3   Salary Range      263 non-null    object
 4   location          263 non-null    object
 5   Work Type         263 non-null    object
 6   Job Posting Date  263 non-null    datetime64[ns]
 7   Job Title         263 non-null    object
 8   Role              263 non-null    object
 9   Unnamed: 9        0 non-null      float64
 10  Job Description   263 non-null    object
 11  Unnamed: 11       0 non-null      float64
 12  skills            263 non-null    object
 13  Unnamed: 13       0 non-null      float64
 14  Company           263 non-null    object
dtypes: datetime64[ns](1), float64(4), object(10)
memory usage: 30.9+ KB

In [5]:
print(df.columns.tolist())

['Job Id', 'Experience', 'Qualifications', 'Salary Range', 'location', 'Work Type', 'Job Posting Date', 'Job Title', 'Role', 'Unnamed: 9', 'Job Description', 'Unnamed: 11', 'skills', 'Unnamed: 13', 'Company']

In [6]:
df = df[['Role','Job Description']]
df.head(10)

,Role,Job Description
0,Accessibility Developer,An Accessibility Developer focuses on making d...
1,Account Executive,Account Executives manage and grow relationshi...
2,Account Manager,An Account Manager builds and maintains relati...
3,Account Strategist,Account Strategists work in advertising or mar...
4,Accounting Controller,Accounting Controllers manage an organizations...
5,Accounting Manager,Accounting Managers supervise accounting teams...
6,Acute Care Nurse Practitioner,Acute Care Nurse Practitioners focus on managi...
7,Addiction Counselor,An Addiction Counselor provides support and th...
8,Administrative Assistant,An Administrative Assistant provides administr...
9,Administrative Manager,Administrative Managers oversee office operati...

In [7]:
df['Role'][1]

'Account Executive'

In [8]:
df['Job Description'][1]

'Account Executives manage and grow relationships with existing clients or customers. They understand client needs, propose solutions, negotiate contracts, and ensure customer satisfaction, often working closely with sales and customer support teams.'

In [9]:
df = df.sample(n=263, random_state=42)
print(df.shape)

(263, 2)

In [10]:
df['new_col'] = df['Role']+" "+df['Job Description']

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [12]:
df['new_col'] = df['new_col'].astype(str)  
tfif = TfidfVectorizer()
matrix = tfif.fit_transform(df['new_col'])
similarity = cosine_similarity(matrix)

In [13]:
similarity

array([[1.        , 0.01440567, 0.01641314, ..., 0.0062499 , 0.02082519,
        0.01381292],
       [0.01440567, 1.        , 0.08475317, ..., 0.00564593, 0.01343619,
        0.01014336],
       [0.01641314, 0.08475317, 1.        , ..., 0.0067767 , 0.02926069,
        0.01217489],
       ...,
       [0.0062499 , 0.00564593, 0.0067767 , ..., 1.        , 0.0219196 ,
        0.01246007],
       [0.02082519, 0.01343619, 0.02926069, ..., 0.0219196 , 1.        ,
        0.02479515],
       [0.01381292, 0.01014336, 0.01217489, ..., 0.01246007, 0.02479515,
        1.        ]])

In [14]:
enumerate(similarity[0])

In [15]:
sorted(list(enumerate(similarity[0])), key=lambda x: x[1], reverse=True)[1:20]

[(150, 0.13041535644842311),
 (211, 0.09804089688254287),
 (155, 0.09272044580912779),
 (119, 0.08083252315261127),
 (120, 0.07652632054836567),
 (244, 0.0707539093771996),
 (59, 0.06211238048463597),
 (187, 0.06154660284795037),
 (45, 0.05898980117825574),
 (61, 0.05826849454665234),
 (124, 0.053122434120723414),
 (135, 0.05244365710548363),
 (103, 0.05219989443103669),
 (241, 0.05076959928374551),
 (251, 0.04808754673765667),
 (230, 0.04771363685851897),
 (11, 0.04766292398664772),
 (99, 0.04762925770189176),
 (141, 0.04382415573836639)]

In [16]:
def recommend(title):

        indx = df[df['Role'] == title].index[0]
        indx = df.index.get_loc(indx)
        distances = sorted(list(enumerate(similarity[indx])), key=lambda x: x[1], reverse=True)[1:20]

        jobs = []
        for i in distances:
            jobs.append(df.iloc[i[0]]['Role'])
        return jobs

In [17]:
recommend('Addiction Counselor')

['Mental Health Counselor',
 'Family Counselor',
 'Investment Advisor',
 'Customer Support Manager',
 'Personal Assistant',
 'Personal Secretary',
 'Accessibility Developer',
 'Operations Director',
 'IT Director',
 'Administrative Assistant',
 'Adult Speech Therapist',
 'Help Desk Support Specialist',
 'Financial Analyst',
 'Live Chat Support Agent',
 'HR Compliance Specialist',
 'Personal Tax Consultant',
 'Strategic Sourcing Manager',
 'City Planner',
 'Pediatric Physical Therapist']

In [18]:
import joblib


joblib.dump(df, 'df.pkl')
joblib.dump(similarity, 'similarity.pkl')

['similarity.pkl']

In [19]:

import pandas as pd
print(pd.__version__)

2.0.3