In [1]:
import numpy as numpy
import pandas as pd
df = pd.read_excel('jobrecord.xlsx')
df.to_csv('jobrecord.csv',index=False)
df.head(3)

,Job Id,Experience,Qualifications,Salary Range,location,Work Type,Job Posting Date,Job Title,Role,Unnamed: 9,Job Description,Unnamed: 11,skills,Unnamed: 13,Company
0,1.089844e+15,5 to 15 Years,M.Tech,$59K-$99K,Douglas,Intern,2022-04-24,Digital Marketing Specialist,Social Media Manager,NaN,Social Media Managers oversee an organizations...,NaN,"Social media platforms (e.g., Facebook, Twitte...",NaN,Icahn Enterprises
1,3.984541e+14,2 to 12 Years,BCA,$56K-$116K,Ashgabat,Intern,2022-12-19,Web Developer,Frontend Web Developer,NaN,Frontend Web Developers design and implement u...,NaN,"HTML, CSS, JavaScript Frontend frameworks (e.g...",NaN,PNC Financial Services Group
2,4.816401e+14,0 to 12 Years,PhD,$61K-$104K,Macao,Temporary,2022-09-14,Operations Manager,Quality Control Manager,NaN,Quality Control Managers establish and enforce...,NaN,Quality control processes and methodologies St...,NaN,United Services Automobile Assn.

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 497 entries, 483 to 102
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Job Title        484 non-null    object
 1   Job Description  484 non-null    object
 2   new_col          497 non-null    object
dtypes: object(3)
memory usage: 31.7+ KB

In [23]:
df = df[['Job Title','Job Description']]
df.head(10)

,Job Title,Job Description
458,Database Developer,NoSQL Database Engineers work with non-relatio...
69,UX/UI Designer,User Interface Designers focus on the visual a...
158,Legal Assistant,Provide administrative support to legal profes...
377,Sales Representative,Account Executives manage and grow relationshi...
10,Network Administrator,Protect an organizations computer networks and...
205,Physician Assistant,"Assist surgeons in the operating room, perform..."
60,Project Manager,"The Agile Project Manager leads Agile teams, f..."
360,Supply Chain Manager,A Logistics Manager oversees the movement and ...
457,Substance Abuse Counselor,A Family Counselor works with families to addr...
9,Mechanical Engineer,Mechanical Design Engineers create and develop...

In [37]:
df['Job Title'][1]

'Web Developer'

In [50]:
df['Job Description'][1]

'Frontend Web Developers design and implement user interfaces for websites, ensuring they are visually appealing and user-friendly. They collaborate with designers and backend developers to create seamless web experiences for users.'

In [62]:
df = df.sample(n=497, random_state=42)
print(df.shape)

(497, 3)

In [73]:
df['new_col'] = df['Job Title']+" "+df['Job Description']

In [83]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [92]:
df['new_col'] = df['new_col'].astype(str)  
tfif = TfidfVectorizer()
matrix = tfif.fit_transform(df['new_col'])
similarity = cosine_similarity(matrix)

In [100]:
similarity

array([[1.        , 0.03187147, 0.03096514, ..., 0.06622033, 0.01925061,
        0.02496261],
       [0.03187147, 1.        , 0.00475723, ..., 0.03741643, 0.02726012,
        0.05018172],
       [0.03096514, 0.00475723, 1.        , ..., 0.00553245, 0.0074957 ,
        0.00613368],
       ...,
       [0.06622033, 0.03741643, 0.00553245, ..., 1.        , 0.01631688,
        0.048449  ],
       [0.01925061, 0.02726012, 0.0074957 , ..., 0.01631688, 1.        ,
        0.01329266],
       [0.02496261, 0.05018172, 0.00613368, ..., 0.048449  , 0.01329266,
        1.        ]])

In [107]:
enumerate(similarity[0])

In [113]:
sorted(list(enumerate(similarity[0])), key=lambda x: x[1], reverse=True)[1:20]

[(379, 0.9999999999999999),
 (119, 0.5047968833967644),
 (140, 0.5047968833967644),
 (268, 0.48673334764830467),
 (377, 0.3598474092068602),
 (306, 0.3547845596532202),
 (438, 0.3547845596532202),
 (74, 0.34530284727683347),
 (454, 0.34530284727683347),
 (360, 0.29065641677318127),
 (95, 0.2652084337455025),
 (248, 0.2639035276963511),
 (366, 0.26296589890444355),
 (453, 0.26296589890444355),
 (132, 0.251607431075991),
 (271, 0.251607431075991),
 (159, 0.23232769081067034),
 (184, 0.23232769081067034),
 (406, 0.22518704216856777)]

In [118]:
def recommend(title):

        indx = df[df['Job Title'] == title].index[0]
        indx = df.index.get_loc(indx)
        distances = sorted(list(enumerate(similarity[indx])), key=lambda x: x[1], reverse=True)[1:20]

        jobs = []
        for i in distances:
            jobs.append(df.iloc[i[0]]['Job Title'])
        return jobs

In [122]:
recommend('QA Analyst')

['Software Tester',
 'Quality Assurance Analyst',
 'Quality Assurance Analyst',
 'Software Tester',
 'Software Tester',
 'Software Tester',
 'Software Tester',
 'Software Tester',
 'Software Tester',
 'Software Tester',
 'Software Tester',
 'Software Tester',
 'Network Analyst',
 'Software Architect',
 'Software Architect',
 'Software Architect',
 'QA Engineer',
 'QA Engineer',
 'Java Developer']

In [ ]:
import joblib


joblib.dump(df, 'df.pkl')
joblib.dump(similarity, 'similarity.pkl')

['similarity.pkl']

In [129]:

import pandas as pd
print(pd.__version__)

2.0.3